<template>
    <div>
        <h1>Inserte el serial de un producto para observar su estado</h1>
    </div>
    <div class="busqueda">
        
        <form v-on:submit.prevent="obtenerProducto">
            <input type="text" v-model="inventario.serial" placeholder="serial"/>
            <br>
            <button type="submit">Buscar producto</button>
        </form>
    </div>
</template>

<script>
import axios from 'axios';
export default{
    name:"busqueda",
    
    data: function(){
        return{
            inventario: {
                serial: "",
            }
        }
    },

    methods:{
        obtenerProducto: function(){
            axios
                .get( "https://inventariobe2021.herokuapp.com/inventario_detalle_view/"+this.inventario.serial
                )
                .then((result) => {
                    let dataProducto={
                        serial: result.data.serial,
                        producto : result.data.producto,
                        cantidad : result.data.cantidad,
                        descripcion:result.data.descripcion,
                    }
                    this.$emit('mostrarProducto',dataProducto)
                })
                .catch((error) => {
                    console.log(error);
                    alert("error que no entiendo");
                });

        },
    }
}
</script>

<style>
form{
    margin: 30px;
    display:flex;
    flex-direction:column;
    align-items: center;
}
</style>