<template>
    <div class="container_signUp_user">
            <h2>Eliminar producto</h2>

            <form v-on:submit.prevent="eliminarProducto" >
                <input type="text" v-model="serial"  placeholder="Serial">
                <br>

                <button type="submit">Eliminar producto</button>
            </form>
        </div>

</template>

<script>
import axios from 'axios';

export default{
    name:'eliminar',
    data: function(){
        return {
            serial:""
        }
    },
    methods:{
        eliminarProducto: function(){
            axios.delete(
                'https://inventariobe2021.herokuapp.com/inventario_detalle_view/'+this.serial,
                {headers:{}}
            )
                .then((result) => {
                    alert("Se eliminó de forma exitosa");
                    this.$emit('registroBueno')
                })
                .catch((error) => {
                    console.log(error)
                    alert("Error al eliminar producto")
                });
        }
    }
}
</script>