<template>
    <div class="container_signUp_user">
            <h2>Ingreso de producto</h2>

            <form v-on:submit.prevent="ingresoProducto" >
                <input type="text" v-model="producto.serial"  placeholder="Serial">
                <br>
                
                <input type="number" v-model="producto.cantidad" placeholder="Cantidad">
                <br>
                
                <input type="text" v-model="producto.producto" placeholder="Producto">
                <br>

                <input type="text" v-model="producto.descripcion" placeholder="Descripción">
                <br>

                <input type="text" v-model="producto.area" placeholder="Area">
                <br>

                <input type="text" v-model="producto.ciudad" placeholder="Ciudad">
                <br>

                <input type="text" v-model="producto.nombre_ingreso" placeholder="Persona que lo ingresó">
                <br>

                <input type="text" v-model="producto.comentario_ingreso"  placeholder="Comentario de ingreso">
                <br>

                <input type="text" v-model="producto.fecha_ingreso" placeholder="Fecha de ingreso">
                <br>

                <button type="submit">Ingresar producto</button>
            </form>
        </div>

</template>

<script>
import axios from 'axios';

export default{
    name:'ingreso',
    data: function(){
        return {
            producto:{
                nombre_ingreso:"",
                area:"",
                ciudad:"",
                producto:"",
                cantidad:"",
                serial:"",
                descripcion:"",
                comentario_ingreso: "",
                fecha_ingreso:""
            }
        }
    },
    methods:{
        ingresoProducto: function(){
            axios.post(
                'https://inventariobe2021.herokuapp.com/inventario/',
                this.producto,
                {headers:{}}
            )
                .then((result) => {
                    alert("Ingreso exitoso");
                    this.$emit('registroBueno')
                })
                .catch((error) => {
                    console.log(error)
                    alert("Error al ingresar producto")
                });
        }
    }
}
</script>