<template>
    <div>
        <h1>Serial: <span> {{serial}}</span></h1>
        <h1>Producto: <span> {{producto}}</span></h1>
        <h1>Cantidad: <span> {{cantidad}}</span></h1>
        <h1>Descripcion: <span> {{descripcion}}</span></h1>
    </div>
</template>

<script>

export default {
    name:"resultado",
    
    data: function(){
        return{
            serial: localStorage.getItem('serial') || "none",
            producto: localStorage.getItem("producto") || "none",
            cantidad: localStorage.getItem("cantidad") || "none",
            descripcion: localStorage.getItem("descripcion") || "none"   
        }
    }
}

</script>