<template>
    <div class="container_signUp_user">
            <h2>Salida de producto</h2>

            <form v-on:submit.prevent="salidaProducto" >
                <input type="text" v-model="serial"  placeholder="Serial">
                <br>
                
                <input type="text" v-model="producto.nombre_salida" placeholder="Persona que da salida">
                <br>
                
                <input type="text" v-model="producto.comentario_salida" placeholder="Comentario de salida">
                <br>

                <input type="text" v-model="producto.fecha_salida" placeholder="Fecha de salida">
                <br>

                <button type="submit">Dar salida del producto</button>
            </form>
        </div>

</template>

<script>
import axios from 'axios';

export default{
    name:'salida',
    data: function(){
        return {
            producto:{
                nombre_salida:"",
                comentario_salida: "",
                fecha_salida:""
            },
            serial:""
        }
    },
    methods:{
        salidaProducto: function(){
            axios.put(
                'https://inventariobe2021.herokuapp.com/inventario_detalle_view/'+this.serial,
                this.producto,
                {headers:{}}
            )
                .then((result) => {
                    alert("Salida exitosa");
                    this.$emit('registroBueno')
                })
                .catch((error) => {
                    console.log(error)
                    alert("Error al ingresar producto")
                });
        }
    }
}
</script>