<template>
  <div id="app" class="app">
    
    <div class="header">
      <div>
        <h1>INVENTARIO WEB</h1>
        <h2>Sistema de Inventario.</h2>
      </div>
    </div>

    <div class="menu">
      <nav>
        <button v-on:click="loadEstado">Estado de producto</button>
        <button v-on:click="loadIngreso">Ingreso del producto</button>
        <button v-on:click="loadSalida">Salida del producto</button>
        <button v-on:click="loadEliminar">Eliminar producto</button>
      </nav>
    </div>
    
    <div class="main-component">
      <router-view
        v-on:mostrarProducto="mostrarProducto"
        v-on:registroBueno="registroBueno"
      >
      </router-view>
    </div>

  </div>
</template>

<script>
import inicio from "./components/Inicio.vue"
import busqueda from "./components/Busqueda.vue"
import resultado from "./components/Resultado.vue"
import ingreso from './components/Ingreso.vue'
import salida from './components/Salida.vue'
import eliminar from './components/Eliminar.vue'

export default{
  name:'App',
  
  data:function(){

  },

  methods:{
    mostrarInicio: function(){
      this.$router.push({name:'inicio'})
    },
    mostrarProducto: function(data){
      localStorage.clear();
      localStorage.setItem("serial",data.serial);
      localStorage.setItem("producto",data.producto);
      localStorage.setItem("cantidad",data.cantidad);
      localStorage.setItem("descripcion",data.descripcion);
      alert("Busqueda exitosa");
      this.mostrarResultado();
    },
    mostrarResultado: function(){
      this.$router.push({name:'resultado'})
    },
    loadEstado: function(){
      this.$router.push({name:'busqueda'})
    },
    loadIngreso: function(){
      this.$router.push({name:'ingreso'})
    },
    loadSalida: function(){
      this.$router.push({name:'salida'})
    },
    loadEliminar: function(){
      this.$router.push({name:'eliminar'})
    },
    registroBueno: function(){
      this.$router.push({name:'inicio'})
    },
  },

  created: function(){
    this.mostrarInicio()
  },
  components:{
    busqueda
  }

}
</script>

<style>
body{
  margin: 0 0 0 0;
}
.header{
  width:100%;
  height:19vh;
  min-height:100px;
  background-color:#55C732;
  display:flex;
  color:black;
  justify-content:center;
  align-items:center;
  text-align:center;
  border:2px solid black;
  border-radius: 30px;
}

.menu nav{
  margin: 50px 0px 0px 0px;
  height:100%;
  width:100%;
  display:inline-block;
  text-align:center;
  align-items: center;
}

.menu nav button{
  color: black;
  background: #B9A4A4;
  border: 1px  solid #E5E7E9;
  border-radius: 10px;
  padding: 10px 20px;
}
.menu nav button:hover{
  color: white;
  background: black;
  border: 2px solid;
}
</style>
